:root {

  --dk-brown: #e3d5ca; 
  --wrm-brown: #d5bdaf;
  
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

.header {
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  color: black;
  background-color: var(--#d5bdaf);
}

.header h1 {
  font-size: 40px;
}



body {
  background-color: var(--wrm-brown);
}

.quiz {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  color: black;
  background-color: var(--dk-brown);
}

.quiz h2 {
  font-size: 25px;
}



#startbtn {
  color: black;
  border-radius: 10px;
  padding: 18px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
}




.question-element {

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: var(--dk-brown);
}




.header-content {
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
}


.answers-btn {
  margin: 10px;
  color: black;
  border-radius: 10px;
  padding: 18px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  }



.score-container {
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  color: black;
  background-color: var(--dk-brown);
}

.user-initials {
  font-size: 20px;
  padding: 10px;
}

.user-input {
  margin: 10px;
  padding: 10px;
}

.submit-btn {
  color: black;
  border-radius: 10px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 10px;
}

.highscore {
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
}

